@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;700;900&display=swap');

/*----------------RESET------------------*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}


/*----------------HEADER------------------*/

.navbar .palabra{
    color: white;
    font-size: 40px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;        
    font-weight: bolder;
}

.navbar .navbar-nav a{
    font-size: 18px;
    padding: 10px;
}

header {
    background-color:rgb(194, 15, 72);
    position: sticky;
    top: 0;
    z-index: 1;
}

header .container-fluid .img{
    width: 30px;
    height: 30px;
}

.boton{
    border: 2px white;
    background-color: rgb(236, 122, 208);
    
}

.boton:hover{
    background-color: rgb(255, 255, 255);
}

.text-danger{
    color: white;
}

.lista:hover{
    background-color: rgba(255, 186, 240, 0.555);
}

.lista{    
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/*----------------MAIN------------------*/

.carousel-item{
    width: 100%;
    height: 500px;
    padding: 10px;
    
}

.grid-container{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    text-align: center;  
    gap: 10px;    
    background-color: rgba(248, 122, 231, 0.356);
} 

.grid-container div img{
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: cover;
    box-shadow: 4px 8px 13px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 4px 8px 13px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 4px 8px 13px 0px rgba(0,0,0,0.54);
}


.grid-items {
    border: solid 2px;
    border-color: rgb(241, 35, 110);
    
}

.item-1{
    grid-column: span 2;
    grid-row: span 2;
}

.item-8{
    grid-column: span 2;
    grid-row: span 2;
}

.ofertas-imperdibles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tendencia h1{
    color:rgb(248, 9, 88);
    text-align: center;
    font-size: 35px;
    background-color: rgb(240, 203, 224);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ofertas div a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(219, 71, 125);
    background-color: rgb(248, 248, 248);
    padding: 5px;
    border: 2px solid rgb(248, 9, 88);
    border-radius: 5px;
    margin: 10px;

}

.ofertas div h5 {
    font-size: 15px;
    margin: 10px;
    color: rgb(219, 71, 125);
}

.ofertas div h3 {
    font-size: 20px;
    margin: 5px;
    color: rgb(248, 9, 88);
   
}

.ofertas .ofertas-imperdibles div {
    width: 300px;
    height: 380px;
    border: 2px solid rgb(219, 71, 125);
    text-align: center;    
    font-size: 10px;
    margin: 10px;
    margin-bottom: 20px;
    
    }

.ofertas div:hover{
    box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
}

.ofertas div img {
    width: 250px;
    height: 250px;
    margin: 5px;    
    }

.ofertas div a:hover{
    background-color: rgb(219, 71, 125);
    color: white;
}

.ofertas h2{
    font-size: 50px;
    text-align: center;
}

.bienvenidos {        
    background-image: url("../img/portada.jfif");   
    background-size: cover;     
    display: flex;
    justify-content: center;
    align-items: center;

}

.bienvenidos div{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.bienvenidos h2 {
    font-size: 40px;
    color:rgb(248, 9, 88);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bienvenidos p {
    font-size: 17px;
    color:rgb(235, 63, 118);
    margin-top: 10px;
    margin-bottom: 10px;
}


.bienvenidos img{
    width: 500px;
    height: 300px;
    margin: 20px;
}

.bienvenidos p::selection{
    background-color: rgb(235, 63, 118);
    color: rgb(253, 249, 249);
}

.bienvenidos h2::selection{
    background-color: rgb(235, 63, 118);
    color: rgb(253, 249, 249);
}

.ofertas h2 {
    color:rgb(248, 9, 88);
    
    font-size: 30px;
    background-color: rgb(240, 203, 224);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.noticias div{
    width: 300px;
    height: 320px;
    border: 2px solid rgb(219, 71, 125);
    text-align: center;    
    
    margin: 10px;
    margin-bottom: 20px;    
    }

.noticias img{
    width: 250px;
    height: 250px;
    margin: 5px;
}

.noticias a{
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    color: rgb(219, 71, 125);
}

.blog h1{ 
color:rgb(248, 9, 88);
    text-align: center;
    font-size: 30px;
    background-color: rgb(240, 203, 224);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .noticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*-- contactanos.html--*/

.contacto h2 {
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    background-color:rgb(221, 187, 211) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(230, 17, 134);
}

.mensajito{
    font-size: 25px;
}
.ubicacion h2{
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    background-color:rgb(221, 187, 211) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(230, 17, 134);
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.encuesta{
    display: flex;
    background-color: rgb(221, 187, 211);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    padding: 20px;
}


.cuadro-encuesta form div label {
    
    color: rgb(230, 17, 134);
    padding: 8px;
              
}

.cuadro-encuesta form div input {
    padding: 2px; 
   }

.name label{
    margin-right: 25px;
}  

.apellido label{
    margin-right: 24px;
} 

.correo label{
    margin-right: 34px;
}

.ubicacion h2 {
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapa {
    text-align: center;
    margin: 20px;
}

/*-- novedades.html--*/

.octubre h1{ 
    color:rgb(248, 9, 88);
        text-align: center;
        font-size: 30px;
        background-color: rgb(240, 203, 224);
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     }

/*-- productos.html--*/

.carousel-inner{
    width: 100%;
    height: 500px;
    margin: 10px;

}


.relacion-productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.relacion-productos div a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(219, 71, 125);
    background-color: rgb(248, 248, 248);
    padding: 5px;
    border: 2px solid rgb(248, 9, 88);
    border-radius: 5px;
    margin: 10px;

}

.relacion-productos div h5 {
    font-size: 15px;
    margin: 10px;
    color: rgb(219, 71, 125);
}

.relacion-productos div h3 {
    font-size: 20px;
    margin: 5px;
    color: rgb(248, 9, 88);
   
}

.relacion-productos div {
    width: 300px;
    height: 380px;
    border: 2px solid rgb(219, 71, 125);
    text-align: center;    
    font-size: 10px;
    margin: 10px;
    margin-bottom: 20px;
    
    }

.listado div:hover{
    box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
}

.listado div img {
    width: 250px;
    height: 250px;
    margin: 5px;    
    }

.listado div a:hover{
    background-color: rgb(219, 71, 125);
    color: white;
}

.listado h2{
    font-size: 50px;
    text-align: center;
}

.descuento img{
    width: 100%;
    height: 350px;
    padding: 10px;
}

/*-- BISUTERIA.html--*/
.joyitas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.joyitas div h5 {
    font-size: 15px;
    margin: 10px;
    color: rgb(219, 71, 125);
}

.joyitas div h3 {
    font-size: 20px;
    margin: 5px;
    color: rgb(248, 9, 88);
   
}

.joyitas div {
    width: 300px;
    height: 380px;
    border: 2px solid rgb(219, 71, 125);
    text-align: center;    
    font-size: 10px;
    margin: 10px;
    margin-bottom: 20px;
    
    }

.joyas div:hover{
    box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 11px 13px 13px 0px rgba(0,0,0,0.54);
}

.joyas div img {
    width: 250px;
    height: 250px;
    margin: 5px;    
    }

.joyas div a:hover{
    background-color: rgb(219, 71, 125);
    color: white;
}

.joyitas div a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(219, 71, 125);
    background-color: rgb(248, 248, 248);
    padding: 5px;
    border: 2px solid rgb(248, 9, 88);
    border-radius: 5px;
    margin: 10px;

}

.joyas h2{
    font-size: 50px;
    text-align: center;
}

/*----------------FOOTER------------------*/
footer {
    background-color: rgb(194, 15, 72);
    width: 100%;
    height: 150px;
    
}


footer .footer-contenedor{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer div p span{
    color: rgb(238, 180, 228);
}

footer p::selection{
    background-color: rgb(235, 63, 118);
    color: rgb(253, 249, 249);
}

footer span::selection{
    background-color: rgb(235, 63, 118);
    color: rgb(253, 249, 249);
}

footer .footer-contenedor p{
    background-color: rgb(194, 15, 72);
    color: white;   
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;        
    font-weight: bolder;
}

footer p{
    background-color: white;
    text-align: center;
}

footer .footer-contenedor div img{
    width: 40px;
    height: 40px;
}

/*..aplicando media queries*/

@media screen and (max-width: 1150px){
    .carousel-item{
        width: 100%;
        height: 350px;
        padding: 10px;
    } 
} 

@media screen and (max-width: 950px){
        
    .bienvenidos {
        flex-direction: column;
    }
    
    .bienvenidos div{
        width: 80%;
        height: 50%;
    }

}

@media screen and (max-width: 1140px){    
    .carousel-inner{
        width: 100%;
        height: 400px;
        padding: 10px;
    }
      
}

@media screen and (max-width: 800px){
      
    .grid-container{        
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;               
    } 

    .carousel-item{
        width: 100%;
        height: 280px;
        padding: 2px;
    } 

    .carousel-inner{
        width: 100%;
        height: 300px;
        padding: 10px;
    }
                        
    }

@media screen and (max-width: 700px){
    .carousel-item{
        width: 100%;
        height: 200px;
        padding: 5px;
    } 

    footer .footer-contenedor p{       
    font-size: 30px;
    }

}

@media screen and (max-width: 690px){    
    
    .carousel-inner{
        width: 100%;
        height: 250px;
        padding: 10px;
    }

}


@media screen and (max-width: 570px){    
    
    .carousel-inner{
        width: 100%;
        height: 200px;
        padding: 10px;
    }

}

@media screen and (max-width: 500px){    
        
    .carousel-inner{
        width: 100%;
        height: 200px;
        padding: 10px;
    }
    .descuento img{
        width: 100%;
        height: 250px; 
    }
    
    .blog h1{
        font-size: 20px;
    }
    .tendencia h1{
        font-size: 20px;
    }
       
    footer .footer-contenedor p{       
        font-size: 20px;
    }
    .bienvenidos img{
        width: 300px;
        height: 180px;
        margin: 10px;
    }
    footer .footer-contenedor{
        flex-direction: column;
        padding: 2px;        
    }

    footer .enlaces a img{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 450px){
      
    .grid-container{        
        grid-template-columns: repeat(3, 5fr);
        grid-template-rows: repeat(4, 2fr);
        grid-auto-rows: 220px;                       
    } 
    .item-10{
        grid-column: span 3;      
       
    }
    .carousel-item{
        width: 100%;
        height: 180px;
        padding: 1px;
    } 
    .carousel-inner{
        width: 100%;
        height: 188px;
        padding: 10px;
        }
                       
}

@media screen and (max-width: 400px){
          
    .carousel-item{
        width: 100%;
        height: 160px;
        padding: 5px;
    } 

    .carousel-inner{
        width: 100%;
        height: 200px;
        padding: 2px;
    }
    .descuento img{
        width: 100%;
        height: 150px; 
    }
}

@media screen and (max-width: 430px){
    .carousel-inner{
        width: 100%;
        height: 180px;
        padding: 2px;
        }
    }
@media screen and (max-width: 350px){
    .carousel-inner{
        width: 100%;
        height: 150px;
        padding: 2px;
        }

    .descuento img{
        width: 100%;
        height: 150px; 
    }
    
     nav img{
        display: none;
     }

    .grid-container{        
        grid-template-columns: repeat(3, 5fr);
        grid-template-rows: repeat(4, 2fr);
        grid-auto-rows: 100px;                       
    } 
    .item-10{
        grid-column: span 3;      
       
    }
    footer .footer-contenedor p{       
        font-size: 15px;
        
    }    

    footer .enlaces a img{
        width: 20px;
        height: 20px;
        
    }

    .carousel-item {
        width: 100%;
        height: 150px;
        padding: 5px;
    }     
}